# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/
.venv/

# Ignore jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore environment-specific files
.DS_Store
Thumbs.db

# Ignore Flask instance folders (if any)
instance/

# Ignore Python distribution packages
*.egg-info/
